@{
    ViewData["Title"] = "Home Page";
}
  
  <section id="banner" class="col-md-12">
      <img src="~/css/image/download (3).jpg" class="Logo">
<div class="text-center">
    <h1 class="size  "   >به اکادمی کشتی البرز خوش امدید</h1>
    <br />
    <a href="/Wrestling/Index" class="btn btn-primary">برای ثبت نام کلیک کنید</a>
</div>
</section>
